.menu-icon {
    width: 15px;
    height: 15px;
}

.p-no-margin {
    p {
        margin-bottom: 0.8rem;
    }

    blockquote {
        overflow: hidden;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        border-left: solid 5px hsl(0, 0%, 80%);
        p {
            margin-bottom: 0;
        }
    }

    &[dir="rtl"] {
        blockquote {
            border-left: 0;
            border-right: solid 5px hsl(0, 0%, 80%);
        }

    }
}

figure {
    &.table {
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            border: 1px double #b3b3b3;
        }

        th {
            font-weight: 700;
            background: hsla(0, 0%, 0%, 0.05);
            padding: .4em;
            border: 1px solid #bfbfbf;
            border-bottom: none;
        }

        td {
            border: 1px solid #bfbfbf;
            padding: .4em;
        }
    }
    &.image {
        img {
            max-width: 100%;
        }
    }
}

.btn {
    &:disabled {
        cursor: not-allowed;
    }

    &.liked {
        color: #036a0c;
    }

    &.disliked {
        color: #ff0000;
    }
}

.vote-preloader {
    z-index: 5;
    background: #f4f3ef94;
}

.blog-comment {
    background: transparent;
    padding: 10px 10px 10px 85px;
    border-radius: 0;
    border-bottom: 1px solid #dee2e6;
    min-height: 85px;

    @media (max-width: 768px) {
        padding-left: 10px;
    }

    .post-body {
        border-top: none;
    }
}
